@model GrpcService.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>gRPC</h1>

@if (Model?.Services is { Count: >0 })
{
    <p>gRPC services:</p>
    <ul>
        @foreach (var service in Model.Services)
        {
            <li>@service</li>
        }
    </ul>
    <pre>@Html.Raw(Model.Descriptor)</pre>
}
else
{
    <p>No gRPC services discovered.</p>
}

